<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @brand.name %>
</p>

<%= link_to 'Edit', edit_brand_path(@brand) %> |
<%= link_to 'Back', brands_path %> |
<%= link_to 'New', new_brand_path %>
<br>
<hr>
<% @brands.each do |brand| %>
  <ul id="Blist">
    <li><%= brand.name %></li>
  </ul>
<% end %>