<tr>
  <td><%= link_to '&#8213;'.html_safe,
                  decrement_line_item_path(line_item),
                  method: :put,
                  remote: true,
                  class: "lidecr" %></td>
  <td><%= line_item.quantity %> &times;</td>
  <td><%= link_to '+',
                  increment_line_item_path(line_item),
                  method: :put,
                  remote: true,
                  class: "lidecr" %></td>
  <td><%= line_item.detail.brand.name %></td>
  <td><%= line_item.detail.detail_id %></td>
  <td><%= line_item.detail.detail_title %></td>
  <% id = current_user.try(:id) %>
  <td><%= line_item.user_price(id) %></td>
  <td class="item_price right-align">
  <%= line_item.total_price(id) %>
  </td>
</tr>
