<div id="search" class="row">
  <div id="searchContainer" class="col l4 offset-l2 ">
    <%= render "layouts/searchForm" %>
  </div>
</div>
<div class="col l11">
<table  class="responsive-table hoverable striped">
  <thead>
    <tr>
      <th>Model</th>
      <th>Detail ID</th>
      <th>Title</th>
      <th>Price</th>
      <th>Weight</th>
      <th>Add to cart</th>
    </tr>
  </thead>
  <tbody>
    <% @details.each do |det| %>
      <tr>
        <td><%= det.brand.name %></td>
        <td><%= det.detail_id %></td>
        <td><%= det.detail_title %></td>
        <td><%= det.real_price * current_user.margin %></td>
        <td><%= det.detail_weight %></td>
        <td><%= link_to "",
                        line_items_path(detail_id: det),
                        method: :post,
                        class: "addToCart btn-floating waves-effect waves-light red" %>
        </td>
      </tr>
    <% end %>
</div>
  </tbody>
</table>
