<div id="search" class="row">
  <div id="searchContainer" class="col l4 offset-l2 ">
    <%= render "layouts/searchForm" %>
  </div>
</div>
<div id="resultTable" class="col m12 l12">
<table id="searchResults" class="responsive-table hoverable striped">
  <thead>
    <tr>
      <th>Model</th>
      <th>Detail ID</th>
      <th>Title</th>
      <th>Price</th>
      <th>Weight</th>
      <th>Zusatz</th>
      <th>Ersatz</th>
      <th>Add to cart</th>
      <th>Кiлькiсть</th>
    </tr>
  </thead>
  <tbody>
    <% @details.each do |det| %>
      <% brand_name = det.brand.name %>
      <tr>
        <td><%= brand_name %></td>
        <td><%= det.detail_id %></td>
        <td><%= det.detail_title %></td>
        <% margin = ( current_user ? current_user.brands_margins[brand_name].to_d : 3 ) %>
        <td><%= det.real_price * margin %></td>
        <td><%= det.detail_weight %></td>
        <td><%= det.zusatz %></td>
        <td><%= link_to "#{ det.ersatz }",
                        details_index_path( q: det.ersatz,
                                            detail: { brand_id: det.brand_id }),
                        method: :get %>
        </td>
        <td><%= link_to "",
                        line_items_path(detail_id: det),
                        method: :post,
                        remote: true,
                        class: "addToCart btn-floating waves-effect waves-light red" %>
        </td>
        <td>
          <input type="text" name="quantity" class="detquantity" placeholder="введiть кiлькiсть" data-detail_id="<%= det.id %>"/>
        </td>
      </tr>
    <% end %>
</div>
  </tbody>
</table>
