<h1>Details#index</h1>
<p>Find me in app/views/details/index.html.erb</p>
<%= render "layouts/searchForm" %>
<ul class="details">
  <% @details.each do |det| %>
	  <li>
	  <!-- Detail.create(brand: Brand.find(1)) -->
	  	<%= det.brand.name %>
	  	<%= det.detail_id %>
	  	<%= det.detail_title %>
	  	<%= det.detail_price %>
	  	<%= det.discount_group %>
	  	<%= det.detail_weight %>
		</li>
		<%= button_to 'Add to Cart', line_items_path(detail_id: det) %>
  <% end %>
</ul>