<nav class="z-depth-3">
  <%= link_to "Logo", root_path, class: "brand-logo" %>
  <ul class="right hide-on-med-and-down">
    <li>
      <%= link_to "Контакти", static_pages_contacts_path, class: "toFeedback right-align" %>
    </li>
    <li>
      <%= link_to "Допомога", '#help', class: "right-align" %>
    </li>
    <li>
      <a class="dropdown-button" href="#!" data-activates="dropdown1">Додатково<i class="mdi-navigation-arrow-drop-down right"></i></a>
    </li>
    <ul id='dropdown1' class='dropdown-content'>
      <li>
        <%= link_to "Профiль", edit_user_registration_path, class: "right-align" %>
      </li>
      <li>
        <%= link_to "Импорт", static_pages_import_path, class: "right-align" %>
      </li>
      <li>
        <%= link_to "Iсторiя замовлень", static_pages_history_path, class: "right-align" %>
      </li>
    </ul>
  </ul>
</nav>
