			<%= form_tag("/details/index", method: "get") do %>
				<%= render "layouts/selectBrand" %>
				<div class="input-field">
				  <%= text_field_tag(:q) %>
				  <%= label_tag(:q, "Search for:") %>
				</div>
				<div>
				  <%= submit_tag "Search", class:"btn btn-submit" %>
				</div>
			<% end %>
