<div class="row">
	<div class="col center">
			<%= form_tag("/details/index", method: "get") do %>
				<%= render "layouts/selectBrand" %>
				<div>
				  <%= label_tag(:q, "Search for:") %>
				  <%= text_field_tag(:q) %>
				</div>
			  <%= submit_tag "Search", class:"btn btn-submit" %>
			<% end %>
	</div>
</div>