<!DOCTYPE html>
<html>
  <head>
    <title>Autogroup</title>
    <%= stylesheet_link_tag 'sass/materialize',
                            media: 'all',
                            'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application',
                            'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'js/bin/materialize.js',
                                 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'js/my_script.js',
                                 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="row">
      <%= render 'layouts/nav' %>
      <div>
        <%= render 'layouts/devise' %>
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
        <% unless (@cart.nil?) %>
          <%= hidden_div_if( @cart.line_items.empty?, id: 'cart') do %>
            <%= render @cart %>
          <% end %>
        <% end %>
        <%= yield %>
      </div>
    </div>
  <div class="parallax-container">
    <div class="parallax">
      <%= image_tag("image5.jpg") %>
    </div>
  </div>
  <div class="section white">
    <div class="row container">
      <h2 class="header">Parallax</h2>
      <p class="grey-text text-darken-3 lighten-3">Parallax is an effect where the background content or image in this case, is moved at a different speed than the foreground content while scrolling.</p>
    </div>
  </div>
  <div class="parallax-container">
    <div class="parallax">
      <%= image_tag("image4.jpg") %>
    </div>
  </div>
  </body>
</html>
