<!DOCTYPE html>
<html>
  <head>
    <title>Autogroup</title>
    <%= stylesheet_link_tag 'sass/materialize',
                            media: 'all',
                            'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag 'main',
                            media: 'all',
                            'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application',
                            'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'js/bin/materialize.js',
                                 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'js/my_script.js',
                                 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="row">
      <%= render 'layouts/nav' %>
      <div id="container">
        <div id="upper">
          <div id="devise" >
            <%= render 'layouts/devise' %>
          </div>
          <p class="notice"><%= notice %></p>
          <p class="alert"><%= alert %></p>
          <% unless (@cart.nil?) %>
            <%= hidden_div_if( @cart.line_items.empty?, id: 'cart') do %>
              <%= render @cart %>
            <% end %>
          <% end %>
        </div>
        <div id="yield">
          <%= yield %>
        </div>
      </div>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
